---
import { postcss } from 'tailwindcss'
import Post from '../components/Post.astro'
const response = await fetch('http://localhost:3000/posts')
const posts = await response.json()
import DefaultLayout from '../layouts/DefaultLayout.astro'
---
<DefaultLayout>
	<h1 class="text-4xl text-center font-bold m-4">My Posts</h1>
	<section class="flex flex-row gap-2 flex-wrap justify-center items-center">
	{
		posts.map(post => <Post post={post} />)
	}
	</section>
</DefaultLayout>

