---
const { post: {title, description, content, created_at} } = Astro.props
---

<article class="p-4 bg-emerald-800 max-w-xs min-h-[540px] text-white rounded">
    <h2 class="text-2xl text-center my-4">{title}</h2>
    <img src="https://images.pexels.com/photos/114907/pexels-photo-114907.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="rounded my-4" alt="">
    <p class="text-xl mb-2">{description}</p>
    <p class="text-justify text-sm">
        {content.slice(0,180)}...
    </p>
    <p class="font text-xs text-yellow-400 my-4">{new Date(created_at).toLocaleDateString() }</p>
</article>